@font-face {
    font-family: "Din";
    src: url("DIN-regular.otf");
  }

div {
    width: 100%;
  }
   
  h2 {
    text-align: center;
    font: 100px "Din", Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    font: 35px "Din", Helvetica, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
   
  li:last-child {
    border: none;
  }
   
  li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }
  p{
  text-align: center;
    font: 24px "Din", Helvetica, Verdana, sans-serif;
  }
  
  form {
    text-align: center;
    font: 24px "Din", Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }